@import url(http://fonts.googleapis.com/css?family=Metrophobic);
@import url(http://fonts.googleapis.com/css?family=Delius);

.sprkrpanel {
   float: left;
   width: 35%;
}

.sprkrpane {
   border-top-right-radius: 18px;
   border-bottom-right-radius: 18px;
   border-top-left-radius: 0px;
   border-bottom-left-radius: 0px;
   -webkit-border-top-right-radius: 18px;
   -webkit-border-bottom-right-radius: 18px;
   -webkit-border-top-left-radius: 0px;
   -webkit-border-bottom-left-radius: 0px;
   -moz-border-top-right-radius: 18px;
   -moz-border-bottom-right-radius: 18px;
   -moz-border-top-left-radius: 0px;
   -moz-border-bottom-left-radius: 0px;
   background-color: darkgreen;
   width: 100%;
}

.sprkrbuttons {
   font-family:'Metrophobic', sans-serif;
   text-align: right;
   width: 30%;
   display: inline-table;
   float: right
}

.sprkrmenu {
   font-family:'Metrophobic', sans-serif;
   text-align: right;
   color: blue;
   width: 50%;
   display: inline-table;
   float: right;
}
.sprkrmenucell {text-align: right}
.sprkrmenuitem {
   font-family:'Metrophobic', sans-serif;
   font-size: 30px;
   color: mediumblue;
   text-decoration: none;
}
.sprkrstatus {
   font-family: 'Metrophobic', sans-serif;
   font-size: 20px;
   text-align: left;
   display: inline-table;
   color: white;
}
.sprkrtitle {
   font-family: 'Metrophobic', sans-serif;
   font-size: 25px;
   text-align: left;
}
.sprkrdata {
   font-family: 'Delius', sans-serif;
   font-size: 20px;
   color: white;
}
.sprkrevent {font-family: 'Metrophobic', sans-serif; text-align: left}

body {background-color: #F5F5F5}
h1 {
   font-family:'Metrophobic', sans-serif;
   font-weight: 700;
   text-align: center;
}

.addbutton {
   font-family:'Metrophobic', sans-serif;
   font-weight: 700;
   font-size: 20px;
   text-align: left;
   text-decoration: none;
   width: 10%;
   height: 50px;
   border-top-left-radius: 0px;
   border-bottom-left-radius: 0px;
   border-top-right-radius: 0px;
   border-bottom-right-radius: 0px;
   -webkit-border-top-left-radius: 0px;
   -webkit-border-bottom-left-radius: 0px;
   -webkit-border-top-right-radius: 0px;
   -webkit-border-bottom-right-radius: 0px;
   -moz-border-top-left-radius: 0px;
   -moz-border-bottom-left-radius: 0px;
   -moz-border-top-right-radius: 0px;
   -moz-border-bottom-right-radius: 0px;
   background-color: #3673ad;
   border: 5px solid #F6F6F6;
   color: #f5f5f5;
   float: left;
}

.configbuttonwithadd {
   font-family:'Metrophobic', sans-serif;
   font-weight: 700;
   font-size: 20px;
   text-align: right;
   text-decoration: none;
   width: 90%;
   height: 50px;
   border-top-left-radius: 0px;
   border-bottom-left-radius: 0px;
   border-top-right-radius: 0px;
   border-bottom-right-radius: 0px;
   -webkit-border-top-left-radius: 0px;
   -webkit-border-bottom-left-radius: 0px;
   -webkit-border-top-right-radius: 0px;
   -webkit-border-bottom-right-radius: 0px;
   -moz-border-top-left-radius: 0px;
   -moz-border-bottom-left-radius: 0px;
   -moz-border-top-right-radius: 0px;
   -moz-border-bottom-right-radius: 0px;
   background-color: #3673ad;
   border: 5px solid #F6F6F6;
   color: #f5f5f5;
   float: right;
}

.configbutton {
   font-family:'Metrophobic', sans-serif;
   font-weight: 700;
   font-size: 20px;
   text-align: right;
   text-decoration: none;
   width: 100%;
   height: 50px;
   border-top-left-radius: 0px;
   border-bottom-left-radius: 0px;
   border-top-right-radius: 0px;
   border-bottom-right-radius: 0px;
   -webkit-border-top-left-radius: 0px;
   -webkit-border-bottom-left-radius: 0px;
   -webkit-border-top-right-radius: 0px;
   -webkit-border-bottom-right-radius: 0px;
   -moz-border-top-left-radius: 0px;
   -moz-border-bottom-left-radius: 0px;
   -moz-border-top-right-radius: 0px;
   -moz-border-bottom-right-radius: 0px;
   background-color: #3673ad;
   color: #f5f5f5;
   border: 5px solid #F6F6F6;
   float: right;
}

.panelbutton {
   font-family:'Metrophobic', sans-serif;
   font-weight: 700;
   font-size: 20px;
   text-align: right;
   text-decoration: none;
   width: 100%;
   height: 40px;
   border-top-left-radius: 18px;
   border-bottom-left-radius: 18px;
   border-top-right-radius: 0px;
   border-bottom-right-radius: 0px;
   -webkit-border-top-left-radius: 18px;
   -webkit-border-bottom-left-radius: 18px;
   -webkit-border-top-right-radius: 0px;
   -webkit-border-bottom-right-radius: 0px;
   -moz-border-top-left-radius: 18px;
   -moz-border-bottom-left-radius: 18px;
   -moz-border-top-right-radius: 0px;
   -moz-border-bottom-right-radius: 0px;
   background-color: #3673ad;
   color: #f5f5f5;
   border: 0px;
}

.configactionbutton {
   font-family:'Metrophobic', sans-serif;
   font-weight: 700;
   font-size: 20px;
   text-align: right;
   text-decoration: none;
   width: 100%;
   height: 40px;
   border-top-left-radius: 18px;
   border-bottom-left-radius: 18px;
   border-top-right-radius: 0px;
   border-bottom-right-radius: 0px;
   -webkit-border-top-left-radius: 18px;
   -webkit-border-bottom-left-radius: 18px;
   -webkit-border-top-right-radius: 0px;
   -webkit-border-bottom-right-radius: 0px;
   -moz-border-top-left-radius: 18px;
   -moz-border-bottom-left-radius: 18px;
   -moz-border-top-right-radius: 0px;
   -moz-border-bottom-right-radius: 0px;
   background-color: #3673ad;
   color: #f5f5f5;
   border: 5px solid #F6F6F6;
}
.sprkrtext {
   font-family:'Metrophobic', sans-serif;
   font-weight: 600;
   font-size: 16px;
}

.programdata {
   width: 100%;
   border: 4px solid #3673ad;
   border-radius: 5px
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
}
.zonetable {width: 100%; text-align: left}
.zoneindex {width: 50%; text-align: right}
.zonename {width: 50%; text-align: right}
table {border: 0}
tr {border: 0}
th {text-align: center; color: #f5f5f5; background-color: darkgreen}
td {border: 0}

input[type=text] {
   font-family:'Metrophobic', sans-serif;
   font-weight: 500;
   font-size: 14px;
   border: 2px solid #3673ad;
   padding: 5px;
   border-radius: 5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
}

